<%- include('../layout/header-nav.ejs') %>

<main>
    <% for (let x=0; x<projects.length; x++) { %>
        <% if (x===0){ %>
            <div class="group" >
        <% } %>
        <% if (x%3===0&&x!==0){ %>
            </div>
            <div class="group" >
        <% } %>
        <div class="item">
            <h2><%= projects[x].title %></h2>
            <div class="group">
            <a class="btn" style="margin: 3px; flex: 1; flex-direction: row;" href="<%= projects[x].repoUrl %>">Check the Repo</a>
            <% if (projects[x].appUrl) { %>
                <a class="btn" style="margin: 3px; flex: 1; flex-direction: row;" href="<%= projects[x].appUrl %>">Live App</a>
            <% } %>
            </div>
            <h3><%= projects[x].dateCreated %></h3>
            <img src="<%= projects[x].imageUrl %>" class="image">
            <p><%= projects[x].description %></p>
            
        </div>
        
    <% } %>
    </div>
</main>

<%- include('../layout/foot.ejs') %>